# Redis
REDIS_ADDR=localhost:6379

# PostgreSQL
POSTGRES_DSN=postgres://taskqueue_user:password@localhost:5432/taskqueue?sslmode=disable

# Security
JWT_SECRET=nFK5hESoEmwslJKk0zYH+eVMxwslLfQu4RkVnjQhDrE=
API_KEY_SECRET=FllBQy+5d4Hz1habXciC8czqMfif9dkgzBE/Rf0/RQI=

# Server
API_PORT=9090
GRPC_PORT=50051
WORKER_CONCURRENCY=4

# Storage
STORAGE_DIR=./storage/images
BASE_URL=http://localhost:8080/images

# AWS (Optional)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET=taskqueue-images

# Monitoring
JAEGER_ENDPOINT=http://localhost:14268/api/traces

# Environment
ENVIRONMENT=development
LOG_LEVEL=info
